<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buddy Finder</title>
  
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"> --}}
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="center">
        <a href="/">BuddyFinder</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">My Profile</a>
        <button id="logout" class="btn-no-style text-right">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>
  {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>