:root {
  --primary: #ffffff31;
  --secondary: #68463c;
  --tertiary: #68463c;
  --quaternary: #8c7503;
  --quinary: #594b02;
  --light: #ffffff;
  --dark: #272f32;
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}
.login-box {
width: 40%;

}
.white {
  color: #ffffff;
}

.clear {
  background-color:transparent
}

.center {
  text-align: center;
}

* {
  box-sizing: border-box;
}

html { 
  background: url(/assets/images/bd.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: var(--secondary);
}
