<main style="background-color:transparent;" class="container">
  <h2 style="text-align:center"> Welcome {{username}} </h2>
  <div class="row">
    <div class="col-6">
      <h2>Create New Post</h2>

      <form class="new-post-form">

        <div class="mb-3">
          <label for="post-title" class="form-label">New Issue</label>
          <input type="text" id="post-title" name="post-title" class="form-control" placeholder="Tell Us Your Problem" />
        </div>
        <div class="mb-3">
          <label for="post-url" class="form-label">GitHub Url: </label>
          <input id="post-url" name="post-url" class="form-control" placeholder="user-name@github.com" />
        </div>
        <button type="submit" class="btn">Create</button>
      </form>
    </div>






    <div class="col-6">
      {{#if posts.length}}

      <h2>Your Issues</h2>
      <ol>
        {{#each posts as |post|}}
        <li>
          {{> post-info post}}
          <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit issue</a>
        </li>
        {{/each}}
      </ol>

      {{/if}}
    </div>
  </div>
</main>
<script src="/javascript/add-post.js"></script>