<form>
  <div class="login-form" style="text-align: center;">
    <hr />


    <div class="mb-3">
      <label for="uname" class="form-label"><strong>Email</strong></label>
      <input id="uname" type="text" placeholder="Enter Email" name="uname" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password-login" class="form-label"><strong>Password</strong></label>
      <input type="password" class="form-control" name="pwd" placeholder="Enter Password" id="pwd" required>
    </div>


    <button type="submit" id="login" class="btn btn-primary btn-lg">Login</button><br>
    <button type="submit" class="regNow btn btn-primary btn-lg" id="regNow">Register</button>
  </div>

</form>



<!-- Modal Section -->
<section>

  <div class="reg-modal" style="text-align: center;">
    <div class="reg-content">
      <div class="close">+</div>
      <form>
        
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">Username</label>
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" placeholder="username" aria-describedby="passwordHelpInline">
        </div>

        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">Email</label>
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" placeholder="Email" aria-describedby="passwordHelpInline">
        </div>

        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" placeholder="password" aria-describedby="passwordHelpInline">
        </div>

        {{!-- <input type="text" placeholder="username" id="username-signup">
        <input type="text" placeholder="password" id="password-signup">
        <input type="text" placeholder="email" id="email-signup"> --}}

        <input type="checkbox" id="reg-skills" name="reg-skills1" value="javascript">
        <label for="reg-skills1">Javascript</label>
        <input type="checkbox" id="reg-skills" name="reg-skills2" value="javascript">
        <label for="reg-skills2">HTML</label>
        <input type="checkbox" id="reg-skills" name="reg-skills3" value="javascript">
        <label for="reg-skills3">CSS</label>
        <input type="checkbox" id="reg-skills" name="reg-skills4" value="javascript">
        <label for="reg-skills4">MySQL</label></br>
        <a href="" class="reg-button">Submit</a>

      </form>
    </div>
  </div>

  <script src="/javascript/login.js"></script>