<form>
  <h1>Login</h1>
  <div class="login-form">
    <hr />
    <div class="container">
      <label for="uname"><strong>Username</strong></label>
      <input id="uname" type="text" placeholder="Enter Username" name="uname" required>
      <label for="password-login"><strong>Password</strong></label>
      <input type="password" name="pwd" placeholder="Enter Password" id="pwd" required>
    </div>
    <button type="submit" id="login">Login</button>
    <button type="submit" class="regNow" id="regNow">Register</button>

</form>



<!-- Modal Section -->
<section>

  <div class="reg-modal">
    <div class="reg-content">
      <div class="close">+</div>
      <img src="./assets/images/icons8-user-96.png" alt="">
      <form>
        <input type="text" placeholder="username">
        <input type="text" placeholder="password">
        <input type="text" placeholder="password confirm">
        <input type="checkbox" id="reg-skills" name="reg-skills1" value="javascript">
        <label for="reg-skills1">Javascript</label>
        <input type="checkbox" id="reg-skills" name="reg-skills2" value="javascript">
        <label for="reg-skills2">HTML</label>
        <input type="checkbox" id="reg-skills" name="reg-skills3" value="javascript">
        <label for="reg-skills3">CSS</label>
        <input type="checkbox" id="reg-skills" name="reg-skills4" value="javascript">
        <label for="reg-skills4">MySQL</label></br>
        <a href="" class="reg-button">Submit</a>


      </form>

    </div>
  </div>

  <script src="/javascript/login.js"></script>